<h1> <strong>Survey Name: </strong> <%= @survey.name %> </h1>
<p> <strong>ID: </strong> <%= @survey.id %> </p>

  <% @survey.questions.each do |question| %>
    <h3><%= question.title %></h3>
    
    

      <% if question.options.any? %>
        <ul>
          <% question.options.each do |option| %>
            
            <li><input type="checkbox"></input><%= option.title %></li>
          <% end %>
        </ul>
      <% end %>

      <% if question.question_type == "text" %>
        
      <input type="text"></input>

      <% end %>

  <% end %>
 
  
